.word_space{
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
}
.word_space_header{
    display: flex;
    justify-content: space-around;
}

.word_space_header h1{
    width: 50%;
    text-align: start;
    /* padding-left: 20px; */
}

.word_space_body{
    /* background-color: red; */
    min-height: 500px;
    /* border: 1px solid black; */
    margin-bottom: 20px;
}
.word_space_item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.word_space_item div{
    width: 50%;
    text-align: start;
}