.word_space{
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
}
.word_space_header{
    display: flex;
    justify-content: space-around;
    
}

.word_space_header h1{
    width: 50%;
    text-align: start;
    border-bottom: 1px solid black double;
    /* padding-left: 20px; */
}

.word_space_body{
    margin-bottom: 20px;
    max-height: 500px;
    overflow: auto;
}
.word_space_item{
    /* border-top: 1px solid lightgray; */
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}



.word_space_item div{
    width: 50%;
    text-align: start;
}

.word_space_item_word{
    font-weight: bold;
}